# Virtual environment
.venv/

# Data & database
data/*
*.db
*.sqlite

# But keep the folder structure
!data/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo